# FastAPI
fastapi
uvicorn[standard]

# Postgres Driver
psycopg2-binary

# SQLAlchemy (для моделей)
sqlalchemy
sqlmodel

# Alembic (для миграций)
alembic

# JWT (для аутентификации)
python-jose[cryptography]
passlib[bcrypt]